.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-container {
  background-color: #222222;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.listening-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
  }
  
  .listening-text {
    color: #dbdbdb;
    font-size: 35px;
    margin-right: 400px;
    opacity: 0.8;
  }
  
  .microphone-icon {
    background-color: #ffffff;
    border-radius: 50%;
    width: 148px;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .microphone-icon {
    animation: pulse 1.5s infinite ease-in-out;
  }